<h1>Widget Factory </h1>

<%= form_for @widget do |f| %>
  <%= f.label :name %>
  <%= f.label :description %>
  <%= f.label :age %>

  <%= f.text_field :name %>
  <%= f.text_field :description %>
  <%= f.text_field :age %>

  <%= f.submit %>
<% end %>
